<table class="table">
  <tr>
    <th>firstName</th>
    <th>lastName</th>
    <th>phone Number</th>
    <th>adress</th>
    <th>Email</th>


    <th>Actions</th>

  </tr>
  <tr *ngFor="let i of T" >
    <td>{{i.firstName}}</td>
    <td>{{i.lastName}}</td>
    <td>{{i.tel}}</td>
    <td>{{i.adr}}</td>
    <td>{{i.email}}</td>



    <td>
      <button class="btn btn-succes" (click)="gotoinfo(i._id)" >Display</button>
      <button class="btn btn-danger" (click)="delet(i._id)" >Delete</button>
      <select (change)="selectedCours($event)" name="" id="">
        <option value="">Add to Course</option>
        <option  style="color: black;"  *ngFor="let j of courTab" [value]="j._id"  >{{j.title}}</option>
      </select>
      <button class="btn btn-info" (click)="add(i._id)" >add Student</button>
    </td>
  </tr>





  </table>

