<div class="text-center pb-2">
  <p class="section-title px-5"><span class="px-2"></span></p>
  <h1 class="mb-4">Student info</h1>
</div>
<div   style="display: flex;justify-content: center;align-items: center;" >
<div class="col-md-10 col-lg-2 text-center team mb-8"  >
<div class="position-relative overflow-hidden mb-8" style="border-radius: 100%;">
  <img width="3px" height="5px" class="img-fluid w-100" src={{T.path}} alt="img" >
  <div
      class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
      <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
          href="#"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
          href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
          href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
</div>
</div>
<div class="row" style="padding: 5px;">
  <div class="col-md-3 col-lg-2 text-center team mb-2" style="margin: auto; width: 50%;text-align: center;"  >
<i>first name : {{T.firstName}} </i>
<br>
<i>last name : {{T.lastName }}</i>
<br>
<i> Adress : {{T.adr}}</i>
<br>
<i> Email : {{T.email}}</i>
<br>
<i> phone Number : {{T.tel}}</i>
</div>
</div>
<br>

