<div class="card border-0 shadow-sm mb-2">
  <img class="card-img-top mb-2" src="assets/img/blog-1.jpg" alt="">
  <div class="card-body bg-light text-center p-4">
      <h4 class="">Diam amet eos at no eos</h4>
      <div class="d-flex justify-content-center mb-3">
          <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
          <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
          <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
      </div>
      <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
      <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
  </div>
</div>
